<footer class="footer">
    <h2>
        Sala de negocios
    </h2>
    <ul>
        <li>
            <%= image_tag "Remanso-31.png" %>
            <p class="title">
                Tel:
            </p>
            <p class="subtitle">
                3439241 - 3137050212
            </p>
        </li>
        <li>
            <%= image_tag "Remanso-32.png" %>
            <p class="title">
                Dirección:
            </p>
            <p class="subtitle">
                Calle 6 sur # 79 - 158 Medellin
            </p>
        </li>
        <li>
            <%= image_tag "Remanso-33.png" %>
            <p class="title">
                Hora de Atención:
            </p>
            <p class="subtitle">
                10:00 am - 5:30 am
            </p>
        </li>
        <a href="mailto:remansodelrodeo@une.net.co">
            <li>
                <%= image_tag "Remanso-34.png" %>
                <p class="title">
                    Correo:
                </p>
                <p class="subtitle">
                    remansodelrodeo@une.net.co
                </p>
            </li>
        </a>
    </ul>
    <p class="warning-txt">
        Las imagenes utilizadas son representaciones digitales del diseño y junto con las oficinas, locales y apartamentos que pueden variar en la construccion final. El mobiliario, electrodomesticos, gasodomesticos, acabados y demas elementos que aparecen en las imagenes son una representacion a fin de ilustrar la utilizacion de los espacios y pueden diferir de lo entregado o no ser entregado segun lo comvenido en los contrato. Las areas privadas y construidas podran sufrir ajustes y quedaran finalmente determinadas en los contratos suscritos por las partes.
    </p>
</footer>