<header class="header navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand">
        <%= image_tag "Remanso-05.png", alt: "Remanso del rodeo apartamentos", class: "logo" %>
    </a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"/></svg>
    </button>
    <div class="navbar-collapse collapse justify-content-center" id="navbarCollapse" style="">
        <ul class="navbar-nav">
            <li class="spacer"></li>
            <li class="d-none d-lg-block d-xl-block" {{action "scrollTo" ".ctn-form-section" bubles=false}}>
                <a>
                    Proyecto
                </a>
            </li>
            <li class="d-lg-none d-xl-none" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" {{action "scrollTo" ".ctn-form-section" bubles=false}}>
                <a>
                    Proyecto
                </a>
            </li>
            <li class="separator">|</li>
            <li class="d-none d-lg-block d-xl-block" {{action "scrollTo" ".image-gallery" bubles=false}}>
                <a>
                    Galeria
                </a>
            </li>
            <li class="d-lg-none d-xl-none" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" {{action "scrollTo" ".image-gallery" bubles=false}}>
                <a>
                    Galeria
                </a>
            </li>
            <li class="separator">|</li>
            <li class="d-none d-lg-block d-xl-block" {{action "scrollTo" ".ctn-projects" bubles=false}}>
                <a>
                    Apartamentos
                </a>
            </li>
            <li class="d-lg-none d-xl-none" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" {{action "scrollTo" ".ctn-projects" bubles=false}}>
                <a>
                    Apartamentos
                </a>
            </li>
            <li class="separator">|</li>
            <li class="d-none d-lg-block d-xl-block" {{action "scrollTo" "#map" bubles=false}}>
                <a>
                    Mapa
                </a>
            </li>
            <li class="d-lg-none d-xl-none" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" {{action "scrollTo" "#map" bubles=false}}>
                <a>
                    Mapa
                </a>
            </li>
            <li class="separator">|</li>
            <li class="d-none d-lg-block d-xl-block" {{action "scrollTo" "footer" bubles=false}}>
                <a>
                    Contacto
                </a>
            </li>
            <li class="d-lg-none d-xl-none" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" {{action "scrollTo" "footer" bubles=false}}>
                <a>
                    Contacto
                </a>
            </li>
            <li class="separator">|</li>
            <li class="d-none d-lg-block d-xl-block">
                <ats">
                    Lista Contactos
                </a>
            </li>
            <li class="d-lg-none d-xl-none" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false">
                <ats">
                    Lista Contactos
                </a>
            </li>
        </ul>
    </div>
</header>