<div class="image-gallery">
<h2>Galeria</h2>
	<div class="ctn-images">
		<%= image_tag "Remanso-41.png", class: "grid-item" %>
	</div>
    <div class="ctn-images">
		<%= image_tag "Remanso-41.png", class: "grid-item" %>
	</div>
    <div class="ctn-images">
		<%= image_tag "Remanso-41.png", class: "grid-item" %>
	</div>
</div>