<section class="ctn-form-section">
	<div class="box-form">
		<%= image_tag src="Remanso-07.png", alt: "Obtén bono de $2'000.000", class: "offer-bonus" %>
        <%= render 'contact-form' %>
	</div>
</section>

<%= render 'image-gallery' %>

<!-- <section class="ctn-projects">
	{{projects/title-section}}
	{{projects/list-projects}}
</section> -->

<section id="map">
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15865.779873951426!2d-75.6011776!3d6.2048861!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4f48562c1dc916c5!2sRemanso+del+rodeo!5e0!3m2!1ses-419!2sco!4v1528245039932" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</section >

<%= render 'footer' %>