@import "fonts";
@import "colors";
.contact-form {
	background-color: $light-brown;
	padding: 2em 3em;
	border-bottom-right-radius: 15%;
	form {
		display: flex;
		flex-direction: column;
		input, textarea {
			padding: .3em .5em;
			margin: .5em 0;
			font-size: 14px;
			border-radius: .25rem;
		}
		button {
			align-self: center;
			padding: .375rem 1rem;
		}
	}
	.terms {
		color: white;
		font-size: 11px;
		text-align: center;
		.bold {
			font-size: 12px;
			font-family: $PTBold;
		}
	}
	.title {
		text-transform: uppercase;
		font-family: $BRegular;
		max-width: 300px;
		text-align: center;
		.bold {
			font-family: $BMedium;
		}
	}
}
